/**
Form
 */
.manage-resource-heading {
  text-align: center;
}

.tab-form-heading {
  text-align: center;
}

.resource-form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-heading {
    text-align: center;
  }

  .tab-form-section {
    width: 100%;
  }

  .tab-form-section.images {
    /**
    Primary Picture
     */
    .resource-primary-img-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .edit-recipe-profile-img-container {
        padding: 2%;
        margin: 0.5%;
        border: 1px solid black;
        border-radius: 30px;
        height: 70vh;
        width: 40%;
        display: flex;
        align-items: center;
        .recipe-profile-img {
          border-radius: 10px;
          height: 100%;
          width: 100%;
        }
      }

      .delete-img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20%;
        padding: 1%;
        .delete-img-txt {
          padding: 0;
          margin: 0;
        }

        #recipe_delete {
          align-self: center;
        }
      }

      .upload-ctrl-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .cancel-btn {
          background-color: red;
          width: 20%;
          padding: 1%;
          border: 1px solid #861111;
          color: white;
          border-radius: 4px;
          &:hover {
            background-color: #861111;
          }
        }
      }
    }
  }

  .form-ctrl-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;

    .form-ctrl-lbl {
      font-weight: bold;
      margin: 1% 0;
    }

    .form-ctrl {
      width: 100%;
      padding: 1%;
      border-radius: 4px;
      border: 0.1rem solid #d1d1d1;
    }

    .form-ctrl-check {
      align-self: flex-start;
    }

    .form-ctrl-text {
      width: 100%;
      padding: 1%;
      border-radius: 4px;
      border: 0.1rem solid #d1d1d1;
    }
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .resource-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .resource-item {
      border: 1px solid black;
      padding: 1%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .resource-text {
        width: 75%;
      }
      .manage-resource-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
      }

      &:hover {
        box-shadow: 6px 6px 2px 1px #2E2F30;
      }
    }
  }
  .resource-list.draggable {
    cursor: grab;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .submit-btn {
      width: 15%;
      padding: 1%;
      font-weight: bold;
      margin: 2%;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .submit-btn {
      width: 15%;
      padding: 1%;
      font-weight: bold;
      margin: 2%;
    }
  }
}

.return-link-container {
  width: 70%;
  margin: 0  auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#bottom_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .bottom-nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    .bottom-nav-link {
      width: 15%;
      padding: 1%;
      text-align: center;

      a {
        text-decoration: none;
      }
    }
  }
}