<div>
    <h1 class="text-center">New Recipe</h1>

    <.live_component
        module={MTKitchenWeb.Manage.RecipeLive.FormComponent}
        id={:new}
        title={@page_title}
        action={@live_action}
        recipe={@recipe}
        current_user={@current_user}
    />

    <div class="return-link-container">
        <.link navigate={Routes.manage_recipe_path(@socket, :index)} class="return-link">Back</.link>
    </div>
</div>
