<h1 class="manage-resource-heading">Edit Recipe</h1>

<%= render MTKitchenWeb.ResourceView, "_action_nav.html", conn: @conn, recipe: @recipe %>

<section id="recipe_information_container">
    <%= render "form.html", Map.put(assigns, :action, Routes.manage_recipe_path(@conn, :update, @recipe)) %>
</section>


<div class="return-link-container">
    <%= link "Back", to: Routes.manage_recipe_path(@conn, :index), class: "return-link" %>
</div>