<h1 class="text-center">New Recipe</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.manage_recipe_path(@conn, :create)) %>

<div class="return-link-container">
    <%= link "Back", to: Routes.manage_recipe_path(@conn, :index), class: "return-link" %>
</div>
