<h1 class="text-center">Listing Recipes</h1>

<div class="paginated-resources-container">
    <p class="page-entries-info"></p>
    <ul id="directory_recipes" class="directory-items">
        <%= for recipe <- @recipes do %>
            <li class="directory-item">
                <span><%= live_redirect recipe.name, to: Routes.recipe_show_path(@socket, :show, recipe.slug) %></span>
            </li>
        <% end %>
    </ul>
</div>
