<nav class="action-nav">
    <ul class="action-nav-links">
        <li class="action-nav-link"><%= link("Information", to: Routes.manage_recipe_path(@conn, :edit, @recipe)) %></li>
        <li class="action-nav-link"><%= link("Steps", to: Routes.manage_recipe_steps_path(@conn, :edit, @recipe)) %></li>
    </ul>
</nav>